html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: 'Century Gothic';
}

header {
    padding: 0 7rem;
    background-color: rgb(33, 7, 39);
    width: 100%;
    font-family: 'Segoe Script';
}

header h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe Script';
    font-size: 2.1rem;
    font-weight: lighter;
}

* {
    color: white;
    box-sizing: border-box;
}

header div.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    list-style: none;
    margin: 0;
}

nav ul li {
    display: flex;
    padding: 1rem;
    font-size: 1.2rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60rem;
    background: url("assets/images/beautiful-music-glowing-musical-notes-57bxkzfcian4xexm.jpg") no-repeat center center;
    background-size: cover;
}

.botaoLogin {
    padding: 8px 10px;
    background-color: #602276c0;
    border-radius: 3rem;
    color: white;
    font-size: 1.1rem;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: 6.4rem;
    margin-bottom: 1rem;
}

.botaoLogin:hover {
    background-color: #411553;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: rgb(33, 7, 39);
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
}

footer p {
    font-size: 1rem;
}

.telaLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40rem;
    height: 30rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3rem;
}

.telaCadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 52rem;
    height: 40rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3rem;
}

.telaCadastro h1 {
    font-size: 2rem;
}

#inputs-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0;
    height: 2rem;
}

input {
    width: 20rem;
    height: 2.2rem;
    border-radius: 4rem;
    margin-bottom: 2rem;
    background-color: rgba(41, 40, 40, 0.733);
    border: 2px solid #2d023d;
    text-align: center;
}

p {
    font-size: 25px;
    margin: 0;
    margin-bottom: 5px;
}

.telaLogin h1 {
    font-size: 2rem;
}

.divide {
    width: 100%;
    margin-bottom: 35px;
}

input::placeholder {
    color: rgba(245, 245, 245, 0.603);
    text-align: center;
}

.container-form {
    display: flex;
    gap: 2px;
}

.divQuestionario {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    border-radius: 3rem;
    width: 50rem;
    height: 50rem;
    margin: 0 auto;
    text-align: center;
    overflow: scroll;
}

.inputsQuestionario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.inputsQuestionario select {
    width: 15rem;
    height: 2.5rem;
    border-radius: 1.5rem;
    background-color: rgba(41, 40, 40, 0.733);
    border: 2px solid #2d023d;
    margin-bottom: 1rem;
    color: white;
    font-size: 1rem;
    padding-left: 1rem;
}

.pergunta {
    margin-bottom: 0.7rem;
}

.inputsQuestionario button {
    margin-top: 2rem;
    width: 15rem;
    text-align: center;
}

.inputsQuestionario button:hover {
    background-color: #411553;
}

.divQuestionario::-webkit-scrollbar {
    display: none;
}

select {
    border-radius: 4rem; /* Borda arredondada igual aos inputs */
    background-color: rgba(41, 40, 40, 0.733); /* Cor de fundo igual aos inputs */
    border: 2px solid #2d023d; /* Borda igual aos inputs */
    text-align: center; /* Centraliza o texto dentro do select */
    color: white; /* Cor do texto (branco) */
    font-size: 1rem; /* Tamanho da fonte igual aos inputs */
    transition: transform 0.3s ease-in-out;
    appearance: none;
}

select option {
    background-color: #2d023d;
    color: white; /* Cor do texto das opções */
    
}

select:focus {
    border-color: #411553; /* Altera a cor da borda ao focar */
    background-color: rgba(33, 7, 39, 0.9); /* Muda a cor de fundo ao focar */
    transform: scale(1.05); /* Dá um efeito de crescimento ao clicar */
    max-height: 12rem; /* Expande a altura para simular a "abertura" */
    outline: none; /* Remove a borda padrão de foco */
}


select option:hover {
    background-color: #411553; /* Cor de fundo ao passar o mouse */
    color: white; /* Cor do texto */
}